.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4rem 0;
  background-color: rgba($color-primary-light, .2);
  font-size: $default-font-size;
  color: $color-primary-dark;
  font-weight: 600;

  & > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 4rem;

    & > li {
      padding-right: 4rem;
      &:last-child {padding-right: 0;}

      & > a > img{
        height: 4rem;
      }
    }
  }
}