/* ----------------------------
Variables
---------------------------- */


// COLORS
$color-primary: #9DC2C2;
$color-primary-light: #BFD7D3;
$color-primary-dark: #39575E;
$color-primary-darker: #16272D;

//$color-primary: #55c57a;
//$color-primary-light: #7ed56f;
//$color-primary-dark: #399d87;
$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;